.b-form-button_size_l
{
    font-size: 15px;
}

.b-form-button_type_complex.b-form-button_size_l
{
    height: 30px;
}

.b-form-button_size_l .b-form-button__text
{
    padding: 0 10px;
}

.b-form-button_size_l .b-form-button__content
{
    line-height: 29px;
}

.b-form-button_type_normal.b-form-button_size_l
{
    height: 24px;

    line-height: 24px;
}
