.b-form-button_size_l
{
    font-size: 15px;
}

.b-form-button_size_l .b-form-button__left,
.b-form-button_size_l .b-form-button__click,
.b-form-button_size_l .b-form-button__input,
.b-form-button_size_l .b-form-button__content
{
    height: 30px;
}

.b-form-button_size_l .b-form-button__content
{
    padding: 0 10px;

    line-height: 29px;
}

.b-form-button_size_l .b-form-button__normal
{
    height: 26px;
    padding: 0 10px;

    line-height: 25px;
}
