.b-form-button_size_s
{
    font: 11px Verdana, Arial, sans-serif;
}

.b-form-button_size_s .b-form-button__left,
.b-form-button_size_s .b-form-button__click,
.b-form-button_size_s .b-form-button__input,
.b-form-button_size_s .b-form-button__content
{
    height: 23px;
}

.b-form-button_size_s .b-form-button__content
{
    padding: 0 9px;

    line-height: 21px;
}

.b-form-button_size_s .b-form-button__normal
{
    height: 19px;
    padding: 0 9px;

    line-height: 17px;
}
