.b-form-button_size_s
{
    font: 11px Verdana, Arial, sans-serif;
}

.b-form-button_size_s.b-form-button_type_complex
{
    height: 23px;
}

.b-form-button_size_s .b-form-button__content
{
    padding: 0 9px;

    line-height: 21px;
}

.b-form-button_size_s.b-form-button_type_normal
{
    height: 17px;
}

.b-form-button_size_s .b-form-button__normal
{
    padding: 0 9px;

    line-height: 15px;
}
